In [1]:
# Create a dataframe with 4 colums

# DateTime | Product |Type | Weight

In [2]:
import pandas as pd

In [18]:
data=[["2020-09-21 16:11:13","ABC","TYPE1",10]]

In [24]:
df_temp=pd.DataFrame(data,columns=["DateTime","Product","Type","Weight"])

In [25]:
df_temp

              DateTime Product   Type  Weight
0  2020-09-21 16:11:13     ABC  TYPE1      10

In [28]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
DateTime    1 non-null datetime64[ns]
Product     1 non-null object
Type        1 non-null object
Weight      1 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 112.0+ bytes

In [27]:
df_temp["DateTime"]=pd.to_datetime(df_temp["DateTime"])

In [31]:
# csv read

df_temp1=pd.read_csv(r"C:\Users\RahulG\Documents\jio_temp.csv")

In [32]:
df_temp1["DateTime"]=pd.to_datetime(df_temp1["DateTime"])

In [33]:
df_temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
DateTime    32 non-null datetime64[ns]
Product     32 non-null object
Type        32 non-null object
Weight      32 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 1.1+ KB

In [34]:
df_temp1.head()

             DateTime Product   Type  Weight
0 2020-09-21 16:00:00     ABC  TYPE1      10
1 2020-09-21 16:15:00    ABCD  TYPE1      11
2 2020-09-21 16:30:00     ZXY  TYPE1      12
3 2020-09-21 16:45:00     ZXY  TYPE1      13
4 2020-09-21 17:00:00     ZXY  TYPE1      14

In [35]:
df_temp.describe()

       Weight
count     1.0
mean     10.0
std       NaN
min      10.0
25%      10.0
50%      10.0
75%      10.0
max      10.0

In [37]:
df_temp1["Product"].value_counts()

ABCD    15
ZXY     12
QWE      4
ABC      1
Name: Product, dtype: int64

In [39]:
df_temp1.groupby("Type").agg({"Product":"count"})

       Product
Type
TYPE1       11
TYPE2       10
TYPE3       11

In [40]:
df_temp1.groupby("Type").agg({"Weight":"mean"})

       Weight
Type
TYPE1    15.0
TYPE2    25.5
TYPE3    36.0

In [41]:
df_temp1.groupby("Product").agg({"Weight":"mean"})

         Weight
Product
ABC        10.0
ABCD       29.2
QWE        39.5
ZXY        17.5

In [4]:
list_temp=[x for x in range(10)]

In [5]:
list_temp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list_temp.reverse()

In [7]:
list_temp

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
date_str="16-09-2020 16:45:54"

In [43]:
type(date_str)

str

In [47]:
import datetime

In [50]:
datetime_str=datetime.datetime.strptime(date_str,"%d-%m-%Y %H:%M:%S")

In [51]:
type(datetime_str)

datetime.datetime

In [57]:
date_1=datetime_str.strftime("%d-%m-%Y")
date_1=datetime.datetime.strptime(date_1,"%d-%m-%Y")
print(type(date_1))

<class 'datetime.datetime'>

In [58]:
time_1=(datetime_str.strftime("%H:%M:%S"))
time_1=datetime.datetime.strptime(time_1,"%H:%M:%S")
print(type(time_1))

<class 'datetime.datetime'>

In [59]:
matrix=[
    [2,2],
    [2,2]
]

In [60]:
INPUT=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [61]:
INPUT

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Psedo code:
    
1> Element wise reassignment
2> iterate INPUT[i][j]=INPUT[j][i]

i--> no of rows 
j--->no of cols

OUTPUT=

'''
Problem
Given a string in the form 'AAAABBBBCCCCCDDEEEE' compress it to become 'A4B4C5D2E4'. For this problem, you can falsely "compress" strings of single or double letters. For instance, it is okay for 'AAB' to return 'A2B1' even though this technically takes more space.

The function should also be case sensitive, so that a string 'AAAaaa' returns 'A3a3'.

example: compress('AAAAABBBBCCCCAA')
returns: 'A5B4C4A2'
'''

In [12]:
def string_manipulator(input_str):
    
    #temp_list=set(["A","B"]
    str_len=len(input_str)
    temp_list=[input_str[i] for i in range(str_len)]
    print(temp_list)
    
    temp_set=sorted(set(temp_list))
    
    #print(temp_set)
    
    output_str=""
    for ele in temp_set:
        
        output_str+=ele+ str(input_str.count(ele))
        #print(ele+ str(input_str.count(ele)))
    print(output_str)
    
#string_manipulator("AAAAABBBBCCCCAA")

input_str="AAAAABBBBCCCCAA"

# for i in range(len(input_str)):

In [30]:
# Wrong answer
string_manipulator(input_str)

['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'A', 'A']
A7B4C4

In [31]:
from itertools import groupby

In [32]:
help(groupby)

Help on class groupby in module itertools:

class groupby(builtins.object)
 |  groupby(iterable, key=None) -> make an iterator that returns consecutive
 |  keys and groups from the iterable.  If the key function is not specified or
 |  is None, the element itself is used for grouping.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [33]:
for x,y in groupby(input_str):
    print(list(y))

['A', 'A', 'A', 'A', 'A']
['B', 'B', 'B', 'B']
['C', 'C', 'C', 'C']
['A', 'A']

In [34]:
T = [list(g) for k, g in groupby(input_str)]

In [35]:
T

[['A', 'A', 'A', 'A', 'A'],
 ['B', 'B', 'B', 'B'],
 ['C', 'C', 'C', 'C'],
 ['A', 'A']]

In [36]:
for i in T:
    print (len(i), (i[0]))

5 A
4 B
4 C
2 A